{% extends 'base.html.twig' %}

{% block title %}Les Types de Livres
{% endblock %}


{% block body %}
	<h1>Les Types de Livres</h1>
	<div class="container text-center">
		<div class="row">
			{% for type in types %}
				<div class="col-12 col-md-2">
					{% if type.img is defined %}
						<img src="{{asset('img/' ~ type.img)}}" alt="{{type.libelle}}">
					{% endif %}
					<h5>
						<a href="{{ path('app_type_show', {'id': type.id}) }}">{{type.libelle}}</a>
					</h5>
				</div>
			{% else %}
				<div class="col-12 col-md-2">
					<h5>
						Pas De Type enregistré
					</h5>
				</div>
			{% endfor %}
		</div>
	</div>
	{% if is_granted('ROLE_ADMIN') %}
		<a class="btn btn-primary" href="{{ path('app_livre_new') }}">Ajouter un nouveau livre à ma collection</a>
		{# <a class="btn btn-warning" href="{{ path('app_type_edit', {'id': type.id}) }}">Editer</a> #}
	{% endif %}

{% endblock %}
