{% extends 'base.html.twig' %}

{% block title %}Les Types de Livres
{% endblock %}


{% block body %}
	<h1>Les Types de Livres</h1>
	<div class="container text-center">
		<div class="row">
			{% for type in types %}
				<div class="col-md col-12">
					<figure>
						<blockquote class="blockquote">
							<picture>
								{% if type.img is defined %}
									<img src="{{asset('img/' ~ type.img)}}" class="img-fluid img-thumbnail rounded" alt="{{type.libelle}}">
								{% endif %}
							</picture>
						</blockquote>
						<figcaption class="blockquote-footer">
							Ma liste de
							<cite title="Source Title">
								<a class="link-primary" href="{{ path('app_type_show', {'libelle': type.libelle}) }}">{{type.libelle}}</a>
							</cite>
						</figcaption>
					</figure>
				</div>
			{% else %}
				<div class="col-md col-12">
					<h5>
						Pas De Type enregistré
					</h5>
				</div>
			{% endfor %}
		</div>
	</div>
	{% if is_granted('ROLE_ADMIN') %}
		<a class="btn btn-primary" href="{{ path('app_livre_new') }}">Ajouter un nouveau livre à ma collection</a>
	{% endif %}

{% endblock %}
