{% block body %}
	{% if form is defined %}
		<section style="background-color: #eee;">
			<div class="container h-100">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-lg-12 col-xl-11">
						<div class="card text-black" style="border-radius: 25px;">
							<div class="card-body p-md-5">
								<div class="row justify-content-center">
									<div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
										<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Ajouter un livre à votre collection</p>

										<form class="mx-1 mx-md-4" method="post">
											{{ form_start(form) }}

											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(form.nom) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(form.img) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(form.description) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(form.types) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(form.auteurOriginal) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(form.auteur) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(form.scenariste) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(form.dessinateur) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(form.Traducteur) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(form.editeur) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(form.total) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(form.totalVF) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(form.possedee) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(form.volumes) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(form.statusVO) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(form.status) }}
												</div>
											</div>

											<div class="d-flex justify-content-around mx-4 mb-3 mb-lg-4">
												<button class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">{{ button_label|default('Enregistrer') }}</button>
												<button class="btn btn-secondary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">
													<a class="link-light" href="{{ path('app_livre_index') }}">Annuler</a>
												</button>
											</div>
											{{ form_end(form) }}
										</form>
									</div>
									<div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

										<img src="https://cdn.pixabay.com/photo/2016/09/08/22/43/books-1655783_1280.jpg" class="img-fluid" alt="Sample image">

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	{% else %}
		<section style="background-color: #eee;">
			<div class="container h-100">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-lg-12 col-xl-11">
						<div class="card text-black" style="border-radius: 25px;">
							<div class="card-body p-md-5">
								<div class="row justify-content-center">
									<div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
										<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Edition de :
											<br>
											{{livre.nom}}</p>

										<form class="mx-1 mx-md-4" method="post">
											{{ form_start(edit) }}

											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(edit.nom) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(edit.img) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(edit.description) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(edit.types) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(edit.auteurOriginal) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(edit.auteur) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(edit.scenariste) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(edit.dessinateur) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(edit.Traducteur) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(edit.editeur) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(edit.total) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(edit.totalVF) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(edit.possedee) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(edit.volumes) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(edit.statusVO) }}
												</div>
											</div>
											<div class="d-flex flex-row align-items-center mb-4">
												<div class="form-outline flex-fill mb-0">
													{{ form_row(edit.status) }}
												</div>
											</div>


											<div class="d-flex justify-content-around mx-4 mb-3 mb-lg-4">
												<button class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">{{ button_label|default('Enregistrer') }}</button>
												<button class="btn btn-secondary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">
													<a class="link-light" href="{{ path('app_livre_show', {'nom': livre.nom, 'libelle' : type.libelle}) }}">Annuler</a>
												</button>

											</div>
											{{ form_end(edit) }}
										</form>
									</div>
									<div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

										<img src="https://cdn.pixabay.com/photo/2016/09/08/22/43/books-1655783_1280.jpg" class=" img-fluid" alt=" sample image">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	{% endif %}
{% endblock %}
