{% extends 'base.html.twig' %}

{% block title %}Mes Livre
{% endblock %}

{% block body %}
	<h1>Mes Livre</h1>
	<div class="container text-center">
		<div class="row">
			{% for livre in livres %}
				<div class="col-12 col-md-2">
					<img src="{{asset('img/' ~ livre.img)}}" alt="{{livre.nom}}">
					<h5>
						<a href="{{ path('app_livre_show', {'id': livre.id}) }}">{{livre.nom}}</a>

					</h5>
				</div>
			{% else %}
				<div class="col-12 col-md-2">
					<h5>
						Pas De livre enregistré
					</h5>
				</div>
			{% endfor %}
		</div>
	</div>
	{% if is_granted('ROLE_ADMIN') %}
		<a class="btn btn-primary" href="{{ path('app_livre_new') }}">Ajouter un livre à votre collection</a>
	{% endif %}
	{# 
			<td>
				<a class="btn btn-primary" href="{{ path('app_livre_show', {'id': livre.id}) }}">show</a>
				<a class="btn btn-warning" href="{{ path('app_livre_edit', {'id': livre.id}) }}">edit</a>
			</td> #}
{% endblock %}
