{% extends 'base.html.twig' %}

{% block title %}
	{{livre.nom}}
{% endblock %}

{% block body %}
	<h1>
		{{livre.nom}}
	</h1>
	<hr>
	<div class="text-center align-items-center">
		<div class="conteneur">
			<div class="col">
				<img src="{{asset('img/' ~ livre.img)}}" alt="{{livre.nom}}">
			</div>
			<div class="col">
				<ul class="card-data-info">
					{% if livre.auteurOriginal %}
						<li>
							<span class="text-info">Auteur Original</span>
							<span>
								<p>
									{{ livre.auteurOriginal }}
								</p>
							</span>
						</li>
					{% endif %}
					{% if livre.scenariste %}
						<li>
							<span class="text-info">Scénariste</span>
							<span>
								<p>
									{{livre.scenariste}}
								</p>
							</span>
						</li>
					{% endif %}
					{% if livre.dessinateur %}
						<li>
							<span class="text-info">Déssinateur</span>
							<span>
								<p>
									{{livre.dessinateur}}
								</p>
							</li>
						</li>
					{% endif %}
					{% if livre.Traducteur %}
						<li>
							<span class="text-info">Traducteur</span>
							<span>
								<p>
									{{livre.Traducteur}}
								</p>
							</span>
						</li>
					{% endif %}
					{% if livre.editeur %}
						<li>
							<span class="text-info">Editeur</span>
							<span>
								<p>
									{{livre.editeur}}
								</p>
							</span>
						</li>
					{% endif %}
					{% if livre.total %}
						<li>
							<span class="text-info">Total VO</span>
							<span>
								<p>
									{{livre.total}}
								</p>
							</span>
						</li>
					{% endif %}
					{% if livre.totalVF %}
						<li>
							<span class="text-info">Total en français</span>
							<span>
								<p>
									{{livre.totalVF}}
								</p>
							</span>
						</li>
					{% endif %}
					{% if livre.possedee %}
						<li>
							<span class="text-info">Nombre possédé</span>
							<span>
								<p>
									{{livre.possedee}}
								</p>
							</span>
						</li>
					{% endif %}
					{% if livre.volumes %}
						<li>
							<span class="text-info">Volume possédé</span>
							<span>
								<p>
									{{livre.volumes}}
								</p>
							</span>
						</li>
					{% endif %}
					{% if livre.statusVO %}
						<li>
							<span class="text-info">Status VO</span>
							<span>
								<p>
									{{livre.statusVO}}
								</p>
							</span>
						</li>
					{% endif %}
					{% if livre.status %}
						<li>
							<span class="text-info">Status en france</span>
							<span>
								<p>
									{{livre.status}}
								</p>
							</span>
						</li>
					{% endif %}
					{% if livre.types.libelle is defined %}
						<li>
							<span class="text-info">Catégorie</span>
							<span>
								<a href="{{ path('app_type_show', {'id': livre.types.id}) }}">
									{{livre.types.libelle}}
								</a>
							</span>
						</li>
					{% endif %}
					{% if livre.auteur %}
						<li>
							<span class="text-info">Auteur</span>
							<span>
								<p>
									{{livre.auteur}}
								</p>
							</span>
						</li>
					{% endif %}
				</ul>
				<div class="text-center effect">
					{% if livre.description %}
						<h4>Histoire</h4>
						<p class="mt-3">
							{{livre.description}}
						</p>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="actions">
			<a class="btn btn-primary" href="{{ path('app_type_show', {'id': livre.types.id}) }}">Retour
			</a>
			{% if is_granted('ROLE_ADMIN') %}
				<a class="btn btn-warning" href="{{ path('app_livre_edit', {'nom': livre.nom, 'libelle' : type.libelle}) }}">Editer</a>
			{% endif %}

		</div>
	</div>

{% endblock %}
